.has-trial-banner {
  --app-header-height: calc(var(--trial-banner-height) + var(--appbar-height));
}

.top-appheader {
  top: var(--app-header-height);
}

.page-layout-pane-auto {
  [class^='prc-PageLayout-Pane-'] {
    width: auto !important;
  }
}
.page-layout-pane-full {
  [class^='prc-PageLayout-Pane-'] {
    width: 100% !important;
  }
}

#__primerPortalRoot__ {
  z-index: 10000 !important;
}

.action-menu-icon-button {
  [data-component='trailingAction'] {
    display: none !important;
  }
}

.TableHeader {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  /* padding-bottom: var(--base-size-4) !important;
  padding-top: var(--base-size-4) !important; */
}

.TableCell {
  border-left: none !important;
  border-right: none !important;
}

.TablePagination {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
}

.TablePaginationPage {
  padding: var(--base-size-8) !important;
  /* padding-right: var(--base-size-8) !important; */
}

[role='dialog'] > * {
  box-shadow: none;
}
